{{ $videoID := .Get "video" }}
{{ $playlistID := .Get "playlist" }}
{{ $rel :=  .Get "rel" | default "0" }}


{{ if $playlistID }}
<iframe src="https://www.youtube-nocookie.com/embed/videoseries?rel={{ $rel }}&list={{ $playlistID }}" title="YouTube Playlist"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="no-referrer" allowfullscreen>
</iframe>
{{ else if $videoID }}
<iframe src="https://www.youtube-nocookie.com/embed/{{ $videoID }}?rel={{ $rel }}" title="YouTube Video" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="no-referrer" allowfullscreen>
</iframe>
{{ else }}
<p>No video or playlist ID provided.</p>
{{ end }}
